<!DOCTYPE HTML>
<!--
	Construct by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>National Kidney Foundation of Arizona</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<header class="major">
                    <h1>National Kidney Foundation of Arizona</h1>
				</header>
			</section>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">

						<section id="one" class="special">
							<header class="major">
                                <h2>Financial Application</h2>
							</header>
							<form method="post">
                                
                                <h1>Thank you for your response. We appreciate you taking the time to fill out this form. </h1>
                                <button><a href = "form-selection.html">Back to Home</a></button>

							</form>
                            <div id="results"></div>
                    </section>
                </div>
            </section>
            
        </script>
        <script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='assets/js/jquery.scrolly.min.js')}}"></script>
        <script src="{{url_for('static', filename='assets/js/skel.min.js')}}"></script>
        <script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>
    </body>
</html>
